body {
    font-family: Arial, sans-serif;
    background-color: #f4f8fb;
    color: #444;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: block;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.slide {
    display: none;
    text-align: center;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.slide.active {
    display: block;
    animation-name: fadeIn;
}

.slide.inactive {
    animation-name: fadeOut;
}
.slide img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.text {
    padding: 15px;
    background-color: #549abd;
    color: white;
    font-size: 1.2em;
    border-radius: 0 0 10px 10px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #549abd;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(226, 226, 226, 0.8);
}
.end {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
    user-select: none;
    z-index: 10;
    background: linear-gradient(90deg, #549abd 0%, #7ed6df 100%);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}
.end:hover {
    background: #316e8d;
}
